In [1]:
from tensorflow import keras
import pickle
import numpy as np
from statistics import mean
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import pandas as pd
import seaborn as sns
from tslearn.clustering import TimeSeriesKMeans
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras import regularizers
from tensorflow.keras.layers import Dense, Dropout
import tensorflow as tf
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from tensorflow import keras
import seaborn as sns
import pickle
import functools
import fastdtw
import scipy.spatial.distance as sd
import functools
import matplotlib.pyplot as plt
import seaborn as sns

2022-06-27 13:35:04.776719: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-27 13:35:04.776745: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
generation_df = pd.read_csv('Final Datasets/energy_generation.csv')
generation_df = generation_df[(generation_df['timestamp'] <= '2018-01-01') & (generation_df['timestamp'] >= '2017-01-01')].set_index('timestamp')

In [3]:
generation_df['Energy Generation'] = generation_df['Wind Energy'] + generation_df['Solar Energy']
#generation_df = generation_df.set_index('timestamp')
generation_df

                     Wind Energy  Solar Energy  Energy Generation
timestamp
2017-01-01 00:00:00     0.616308           0.0           0.616308
2017-01-01 01:00:00     0.616308           0.0           0.616308
2017-01-01 02:00:00     0.919970           0.0           0.919970
2017-01-01 03:00:00     0.918286           0.0           0.918286
2017-01-01 04:00:00     0.916602           0.0           0.916602
...                          ...           ...                ...
2017-12-31 19:00:00     0.614052           0.0           0.614052
2017-12-31 20:00:00     0.614052           0.0           0.614052
2017-12-31 21:00:00     0.614052           0.0           0.614052
2017-12-31 22:00:00     0.768139           0.0           0.768139
2017-12-31 23:00:00     0.616308           0.0           0.616308

[8760 rows x 3 columns]

In [4]:
generation_df['Hours'] = pd.Series([i for i in range(8760)]).values
generation_df.set_index('Hours')

       Wind Energy  Solar Energy  Energy Generation
Hours
0         0.616308           0.0           0.616308
1         0.616308           0.0           0.616308
2         0.919970           0.0           0.919970
3         0.918286           0.0           0.918286
4         0.916602           0.0           0.916602
...            ...           ...                ...
8755      0.614052           0.0           0.614052
8756      0.614052           0.0           0.614052
8757      0.614052           0.0           0.614052
8758      0.768139           0.0           0.768139
8759      0.616308           0.0           0.616308

[8760 rows x 3 columns]

In [5]:
consumption_df = pd.read_csv('Final Datasets/energy_consumption.csv')
consumption_df = consumption_df[(consumption_df['timestamp'] <= '2018-01-01 00:00:00') & (consumption_df['timestamp'] >= '2017-01-01')].set_index('timestamp')
consumption_df.drop('Unnamed: 0', axis = 1, inplace = True)
#consumption_df['timestamp'] =consumption_df.index
consumption_df = consumption_df.groupby(['timestamp']).sum()
consumption_df['Hours'] = pd.Series([i for i in range(8760)]).values
consumption_df = consumption_df[['Hours', 'energy_kWh']].set_index('Hours')
consumption_df

       energy_kWh
Hours
0           17.12
1           16.47
2           12.34
3            9.92
4           18.10
...           ...
8755        33.93
8756        28.58
8757        25.22
8758        20.97
8759        18.10

[8760 rows x 1 columns]

In [6]:
generation_df['Energy Consumption'] = consumption_df['energy_kWh'].values

In [10]:
generation_df['Deficit'] =  -(generation_df['Energy Generation']  - generation_df['Energy Consumption'] )

In [11]:
generation_df.to_csv('Microgrid_Dataset.csv')